@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarala&family=Tiro+Devanagari+Marathi&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

section{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #17664E, #000);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

span{
    position: relative;
    display:block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}

span:hover{
    background: #0f0;
    transition: 0s;
}

.let{
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    animation: pisca 5s linear infinite;
}

@keyframes pisca{
    0%{}
    100%{
        color: #0f0;
    }
}

.sigin{
    position: absolute;
    display: flex;
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    background: #333;
    z-index: 100;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px var(--reserv-color);
}


.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


h2{
    font-family: var(--body-font);
    font-size: var(--h1-font-size);
    color: #0f0;
    text-transform: uppercase;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    cursor: pointer;
}

.inputBx{
    position: relative;
    width: 100%;
}

input{
    position: relative;
    width: 100%;
    background: var(--back);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500px;
    font-size: 1em;
}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 2px solid black;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 2px;
}

.label-float{
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid #0f0;
}

.label-float label{
    color: #0f0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label
{
    font-size: 13px;
    margin-top: 0;
    color: #0f0;
}

button{
    color: white;
    padding: 7px;
    background:rgb(66, 92, 137);
    font-weight: bold;
    font-size: 12pt;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
    width: 200px;
}


.justify-center{
    display: flex;
    justify-content: center;
}

.senha{
    padding-top: 5px;
    color:rgb(242, 253, 242) ;
    font-size: 0.7rem;
    text-align: center;

}

p{
    color:rgb(242, 253, 242) ;
    font-size: 1rem;
    text-align: center;
}

a{
    color: rgb(242, 253, 242);
    font-weight: bold;
    transition: all .3s ease-out;
}

a:hover{
    color: rgb(242, 250, 242);
}

.fa-eye{
    position: absolute;
    top: 6px;
    right: 1px;
    cursor: pointer;
    color: rgb(242, 250, 242);
}


