* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color:rgba(239, 245, 239, 0.942);
  border: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}
section{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #17664E, #000);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%{
      transform: translateY(-100%);
  }
  100%{
      transform: translateY(100%);
  }
}

span{
  position: relative;
  display:block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}

span:hover{
  background: #0f0;
  transition: 0s;
}
input{
background-color: #333;
border: 2px solid black;
}

input, label {
  display: block;
  outline: none;
  width: 100%;
}

a {
  color:rgb(242, 250, 242);
}

body {
  background: linear-gradient(90deg, #1b2839 60%, #1b2839 40.1%);
}

/* form */
#main-container {
  position: absolute;
  display: flex;
  width: 500px;
  z-index: 100;
  background: #333;
  border-radius: 10px;
  padding: 25px;
}

#main-container h1 {
  padding: 2px;
  padding-left: 100px;
  text-align: center;
  font-size: 1.6rem;
  color: #0f0;
}

form {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 2.5%;
}

label {
  padding-bottom: 2px;
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 40px;
}

input:focus {
  border-color: black;
}

input[type="submit"] {
  background-color:rgb(66, 92, 137);
  color:rgb(242, 253, 242);
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  margin-left: 155px;
  cursor: pointer;
}

#agreement {
  margin-right: 5px;
}

#agreement, #agreement-label {
  display: inline-block;
  width: auto;
}

.error-validation {
  color:rgb(249, 245, 245);
  position: absolute;
  top: 57px;
  font-size: 12px;
}

.template {
  display: none;
}